body{
    background-color: #203045;
}
.picture{
    width: 250px;
    height: 250px; 
    margin-left: 100px;
}
.aimage{
    width: 100%;
    
}
.abox{
    background-color: #6593f5;
}
.spacing{
    margin-left: 200px;
}
.nav-item {
    font-weight: bold;
}
.nav-link.active {
    font-weight: bold;
}
